@page
@model IndexModel
<h1>Wake on LAN status</h1>

<form method="post" if="Model.Computers.Any()">
    <div id="computers">
        @foreach (var computer in Model.Computers.Values)
        {
            var wokenMessage = computer.Woken ? "Awake" : "Sleeping";
            var awakeClass = computer.Woken ? "awake" : string.Empty;
            <div class="computer">
                <div class="computer-name @awakeClass">@computer.Name (@wokenMessage)</div>
                <p>@computer.IP</p>
                <p>@computer.MAC</p>
                <p>@computer.SubnetMask</p>
                <input type="submit" value="Wake up" asp-route-computerToWake="@computer.Name" if="!computer.Woken" />
            </div>
        }
    </div>
</form> 
<p if="!Model.Computers.Any()">
    No computers added. Add a computer <a asp-page="/Create">here</a>.
</p>
