@using Rstolsmark.WakeOnLanServer.Configuration.PortForwarding
@using Rstolsmark.WakeOnLanServer.Services
@inject PortForwardingSettings _portForwardingSettings
@inject ProgramVersion _programVersion
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Wake on LAN server"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <menu>
        <li><b>@Localizer["Wake on LAN"]</b>
            <ul>
                <li><a asp-page="/WakeOnLan/Index">@Localizer["Status"]</a></li>
                <li><a asp-page="/WakeOnLan/Create">@Localizer["Add computer"]</a></li>
            </ul>
        </li>
        @if (_portForwardingSettings.Backend != PortForwardingBackend.None)
        {
            <li><b>@Localizer["Port forwarding"]</b>
                <ul>
                    <li><a asp-page="/PortForwarding/Index">@Localizer["Status"]</a></li>
                    <li><a asp-page="/PortForwarding/Create">@Localizer["Add port forwarding"]</a></li>
                </ul>
            </li>
        }
        @if (!string.IsNullOrEmpty(User?.Identity?.Name))
        {
            <li><b>@User.Identity.Name</b>
                <ul>
                    <li><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">@Localizer["Sign out"]</a></li>
                </ul>
            </li>
        }
    </menu>
</header>
<main role="main">
    <p class="alert" if='TempData.ContainsKey("Message")'>
        @TempData["Message"]
    </p>
    @RenderBody()
</main>
<footer>
    <span>@Localizer["Version"]: @_programVersion.GetVersion()</span>
</footer>
</body>
</html>
