@page
@model IndexModel
@using System.Linq
<h1>Status</h1>
<table>
    <thead>
        <tr>
            <th>Navn</th>        
            <th>IP</th>
            <th>MAC</th>
            <th>Status</th>
            <th>Handling</th>
        </tr>
    </thead>
    <tbody>
        <form method="post">
            @foreach (var computer in Model.Computers.Values)
            {
                var wokenMessage = computer.Woken ? "Våken" : "Sover";

                <tr>
                    <td>@computer.Name</td>
                    <td>@computer.IP</td>
                    <td>@computer.MAC</td>
                    <td>@wokenMessage</td>
                    <td>
                        <input type="submit" value="Vekk opp" asp-route-computerToWake="@computer.Name"/>
                    </td>
                </tr>
            }
        </form> 
    </tbody>        
         
        
</div>
<p if="!Model.Computers.Any()">
    Ingen datamaskiner er lagt til. Legg til datamaskiner <a asp-page="/Create">her</a>.
</p>
